* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.feature-section {
    display: flex;
    flex-direction: column;
    padding: 64px 0 0;
    gap: 48px;
    background: #FFFFFF;
    width: 1440px;
    height: 670px;
    margin: auto;
    
}
.feature-section-full {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 50px;
    width: 1440px;
    height: 670px;
    align-items: center;
    }
.feature-header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    width: 540px;
    height: 135px;
    align-items: center;
 
}
.feature-head-main {
    width: 540px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #18191F;
}
.feature-head-sub {
    width: 540px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
}
.features-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 64px;
    width: 1110px;
    height: 360px;

}
.features-list-firstrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 30px;
    width: 1110px;
    height: 150px;    
}
.firstcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 350px;
    height: 150px;
    border-radius: 8px;
}
.features-list-icon {
    width: 32px;
    height: 32px;
}
.features-list-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 350px;
    height: 92px;
}
.features-list-main {
    width: 350px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
.features-list-sub {
    width: 350px;
    height: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.secondcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 350px;
    height: 150px;
    border-radius: 8px;
}
.thirdcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 350px;
    height: 150px;
    border-radius: 8px;
}
.features-list-secondrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 30px;
    width: 1110px;
    height: 150px;    
}
