* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.page-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 65px;
    justify-content: center;

}
.page-six-content {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #18191F;
}
.page-six-content-main {
    font-weight: 800;
    font-size: 40px;
    width: 540px;
    
}
.page-six-content-sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 540px;
}
.page-six-image {
    border-radius: 8px;
    width: 1110px;
    height: 400px;
}